.mainFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #2f3c4c;
    color: #fff;
    margin-right: 5px;
    padding: 15px;
   

}

.subList{
    list-style: none; 
}

h2{
    margin-bottom: 10px;
}

.subList li{
    margin-bottom: 20px;
    margin-left: 10px;
}

.left_side {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* background-color: #2f3c4c; */
    justify-content: space-evenly;
    flex: 50%;
    padding: 15px;
  }