*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 157, 127);
    padding: 20px;
    /* width: 100%; */
}


img{
    width:50px;
     height:50px;
}

.navItems{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    justify-content: space-evenly;
}

.navChild{
    /* margin-left: 150px; */
    text-align: center;
}

.subsubMenu{
    /* background-color: blueviolet; */
    padding:  20px 0px 20px;
    margin: -15px;
    margin-top: 20px;
    /* width:100%; */
}

.subMenu {
    /* display: flex;
    justify-content: space-between; */
    list-style: none;
    
}

@media screen and (max-width: 1370px){
    .container{
        /* background-color: blue; */
        display:flex;
        flex-direction:column;
    }
    .svgPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media screen and (max-width: 1024px){
    .navItems{
        display: inline-block;
        /* flex-direction: column; */
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 20px;
    }
    .navChild{
        margin-bottom: 25px;
    }
    .svgPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}


@media screen and (max-width: 455px) {
    .navChild {
        /* background-color: blueviolet; */
      margin-bottom: 18px;
      font-size: 16px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

 
